/* Apply default font family */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('Exercise6_2.jpg'); /* Set background image */
    background-size: 200%; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent repetition */
    background-position: center; /* Center the background image */
}

/* Container styling */
.container {
    max-width: 600px; /* Maximum width of the container */
    margin: 50px auto; /* Center the container horizontally with a top margin of 50px */
    text-align: center; /* Center align text */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for container */
    margin-top: 350px; /* Adjust top margin for positioning */
}

/* Styling for displaying the RGB value */
#rgb {
    font-size: 24px; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
}

/* Styling for color options */
#options {
    display: flex; /* Display options in a flex container */
    justify-content: center; /* Center align options */
    margin-bottom: 20px; /* Bottom margin */
}

/* Styling for individual color options */
.option {
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 0 10px; /* Horizontal margin */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    background-color: #3498db; /* Background color */
    color: #fff; /* Text color */
}

/* Styling for displaying messages to the user */
#message {
    margin-bottom: 20px; /* Bottom margin */
}

/* Styling for displaying the score */
#score {
    font-size: 18px; /* Font size */
    margin-bottom: 20px; /* Bottom margin */
}

/* Styling for the restart button */
#restart-btn {
    background-color: #2ecc71; /* Background color */
    color: #fff; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hover effect for the restart button */
#restart-btn:hover {
    background-color: #27ae60; /* Background color on hover */
}

/* Styling for displaying the high score */
#high-score {
    position: fixed; /* Fixed positioning */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    font-size: 18px; /* Font size */
    color: #333; /* Text color */
    background-color: rgba(255, 255, 255, 0.7); /* Background color with transparency */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Box shadow */
    z-index: 999; /* Ensure it's above other content */
}
