.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #000000, #919d292c);
  }
  