
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; 
    margin: 0 auto;
}

header {
    background-color: #17072b;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

header #logo {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 32px;
}

header nav {
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 30px; 
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px; 
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

section {
    width: 48%;
}

#welcome {
    background-color: #ffffff;
    color: #000000;
    padding: 40px;
}

#welcome img {
    display: block;
    margin-top: 30px; 
    width: 100%;
}

#line-up {
    background-color: #172d67;
    color: #ffffff;
    padding: 40px; 
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    float: left; 
    width: calc(50% - 20px); 
    padding: 10px;
    box-sizing: border-box; 
}

.image-container img {
    width: 100%;

}

footer {
    background-color: #8c15e9;
    color: #ffffff;
    padding: 40px 0; 
    text-align: center;
}
