body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh; 
}

.container {
    width: 80%; 
    margin: 0 auto;
}

header {
    background-color: #17072b;
    color: #ffffff;
    padding: 20px 0; 
    text-align: center;
}

header #logo {
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: underline; 
}

#line-up h2 {
    text-decoration: underline; 
}

header nav {
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 10px; 
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px; 
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

section {
    width: 48%;
}

p {
    font-size: 20px;
}


#headings {
    font-size: 24px;
}

#welcome {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    width: 70%; 
    float: left; 
}

#welcome h1 {
    text-decoration: underline; 
    font-size: 36px; 
}


#welcome img {
    display: block;
    margin-top: 20px; 
    width: 100%;
}

#line-up {
    background-color: #172d67;
    color: #ffffff;
    padding: 20px;
    width: 28%; 
    float: right; 
}

#line-up ul {
    list-style-type: none; 
    padding: 0;
}

#line-up li {
    margin-bottom: 10px;
}

#line-up ul li::before {
    content: "-"; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    float: left; 
    width: calc(50% - 20px); 
    padding: 10px;
    box-sizing: border-box; 
}

.image-container img {
    width: 50px; 
    height: auto; 
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    background-color: #8c15e9;
    color: #ffffff;
    padding: 10px 0; 
    text-align: center;
    font-size: 16px; 
}
