/* Resetting default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-size: 24px;
    
}

/* Basic styling */
body {
    font-family: rye-regular;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-image: url('dramatic.jpg'); /* Sets the background image for the header */
    background-size: cover; /* Ensures the background image covers the entire header */
    background-position: center; /* Centers the background image */
    padding-top: 200px; /* Adds padding to the top of the header */
    text-align: center; /* Aligns text in the center of the header */
    position: relative; /* Allows positioning of child elements */
}

header h1{
    color:white;
}

nav {
    background-image: linear-gradient(to bottom, #000000, #919d292c);  
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column; /* Change to column */
    margin: 20px 0;
}


.column {
    flex: 1;
    background-color: #ffffff7b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style for Resources Section */
#resources {
    margin-top: 20px;
    margin-left:25px;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
}

.resource-item {
    flex: 1 0 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.resource-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.resource-item p {
    margin-top: 5px;
    font-size: 20px;
    color: #666;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
